body {
	margin: 0;
	padding: 0;
	background-image: url("../Images/apply2.jpg");
	background-size: 100%;
}
.body {
	max-width: 800px;
	margin: 0 auto;
	padding: 40px;
}
.body-s {
	max-width: 600px;
}
#Main{
	color: white;
}

nav{
	background-color: rgba(30,30,30,0.8);
	margin: 0;
}
#Navi{
	margin: 0;
	padding: 0;
}
li{
	display: inline-block;
	padding: 20px;
	color:white;

}
.over:hover{
	transition: 0.5s;
	color: #00BFFF;
}
.logo{
	margin: 0;
	font-size: 20px;
    margin-right: 40px;
    font-weight: bold;
}