body{
	margin: 0;
	background-image: url("../Images/base.png");
	background-size: 100%;
}
#Main{
	color: white;
}

nav{
	background-color: rgba(30,30,30,0.8);
		margin: 0;
}
#Navi{
	margin: 0;
	padding: 0;
}
li{
	display: inline-block;
	padding: 20px;
	color:white;
  	transition: 0.5s;
}
.over:hover{
	color: #00BFFF;
}
#Navi > li{

}
.logo{
	margin: 0;
	font-size: 20px;
    margin-right: 40px;
    font-weight: bold;
}
#Slider{
	height: 570px;
	width: 1100px;
	margin: auto;
}
.text{
	text-align: center;
	width: 700px;
	margin: auto;
}
.Danny{
	float: right;
	color: white;
	background-image: url("../Images/Danny.png");
	background-size: 100% 100% ;
	background-repeat: no-repeat;
	height: 350px;
	width: 600px;
	margin: auto;
}
.Danny2{
	float: left;
	color: white;
	background-image: url("../Images/Danny.png");
	background-size: 100% 100% ;
	background-repeat: no-repeat;
	height: 350px;
	width: 600px;
	margin: auto;
}
.about{
	width: 300px;
	margin-left: 10px;
}