@import url("menu.css");

body{
	margin: 0;
	background-image: url("../Images/About.png");
	background-size: 100%;
}


#Slider{
	height: 570px;
	width: 1100px;
	margin: auto;
}
.text{
	text-align: center;
	width: 700px;
	margin: auto;
}
.left {
    margin: auto;
}

.right {
    margin: auto;
}

section {
	color: white;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 350px;
	width: 600px;
    font-family:NoneShallPass;
    line-height:2em;
}

#Preslav {
    background-image: url('../Images/Preslav.png');
}

#Georgi {
    background-image: url('../Images/Preslav.png');
}

#Galina {
    background-image: url('../Images/Preslav.png');
}

#Danny {
    background-image: url('../Images/Preslav.png');
}



.about{
	width: 300px;
	margin-left: 10px;
}

.sign{
    font-family:sans-serif;
    font-weight:bold;

}
.info{
	font-size: 20px;
    display: inline-block;
    color: rgba(243, 85, 85, 1)
}

div.moreInfo {
    display: inline-block;
    width: 350px;
}

div {
    margin-left: 20px;
}