@import url("menu.css");

body {
	margin: 0;
	padding: 0;
	background-image: url("../Images/apply2.jpg");
	background-size: 100%;
}
.body {
	max-width: 800px;
	margin: 0 auto;
	padding: 40px;
}
.body-s {
	max-width: 600px;
}
