@import url("Parallax.css");

* {
	margin: 0;
	padding: 0;
}
body {
    font-size: 1em;
    line-height: 1.4;
}
header {
	border: 1px solid #164C00;
	background: #164C00;
	height: 147px;
	position: fixed;
	width: 100%;
}

.logo {
	position: absolute;
	left: 50%;
	margin: -25px 0 0 -75px;
}

header nav ul {
	box-sizing: border-box;
	list-style: none;
	margin-left: 300px;
	margin-top: 91px;
}

header nav ul li {
	float: left;
	font-size: 30px;
	border: 2px solid black;
	width: 249px;
	height: 45px;
	background: black;
	border-color: #5B7F00;
	text-align: center;
	padding-top: 8px;
}

header nav ul li:nth-child(3) {
	margin-left: 250px;
}

header a {
	text-decoration: none;
	color: white;
}