@font-face{
    font-family:NoneShallPass;
    src:url('NoneShallPassDEMO-KCFonts.ttf');
}

footer{
    background: black;
    font-size: 1em;
    width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
}

#wrapper {
	min-height:100%;
	position:relative;
}
