@import url("menu.css");

body {
	margin: 0;
	padding: 0;
	background-image: url("../Images/back.png");
	background-size: 100%;
}

.button1{
	margin-top: 40px;
	margin-bottom: 15px; 
	margin-left:200px;
	border: 2px solid black;
	list-style-type: none;
	background-image: url("../Images/home.jpg");
	background-size: 100%;
    width: 400px;
    height: 200px;
    display: inline-block;
}
.button2{
	margin-top: 40px;
	margin-bottom: 15px; 
	margin-left:100px;
	border: 2px solid black;
	list-style-type: none;
	background-image: url("../Images/home.jpg");
	background-size: 100%;
    width: 400px;
    height: 200px;
    display: inline-block;
}
.button3{
	margin-top: 40px;
	margin-bottom: 15px; 
	margin-left:200px;
	border: 2px solid black;
	list-style-type: none;
	background-image: url("../Images/home.jpg");
	background-size: 100%;
    width: 400px;
    height: 200px;
    display: inline-block;
}
.button4{
	margin-top: 40px;
	margin-bottom: 15px; 
	margin-left:100px;
	border: 2px solid black;
	list-style-type: none;
	background-image: url("../Images/home.jpg");
	background-size: 100%;
    width: 400px;
    height: 200px;
    display: inline-block;
}
#Chapters{
	margin-left: auto;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}
