@font-face{
    font-family:NoneShallPass;
    src:url('NoneShallPassDEMO-KCFonts.ttf');
}

header {
    width: 100%;
    top: 0%;
}

nav img {
	width: 120px;
	height: 110px;
}

header nav ul a {
    text-decoration: none !important;
    color: white;
}

header a:hover{
  color: #00BFFF;
  transition: 0.5s;
}

#Main{
  color: white;
}

header nav{
  background-color: rgba(30,30,30,0.8);
    margin: 0;
}

header li{
  display: inline-block;
  padding: 20px;
  color:white;
  
}
.first{
  margin-left: 100px;
}
#Navi li{
   
}
.logo{
  position: absolute;
  margin: 0;
}