#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.hsContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 700px;
	position: absolute;
	left: 50%;
	top: 50%;
}
#slide-1 .bcg {
	background-color: #007f00;
}
#slide-1 .hsContent {
	bottom: 200px;
	top: auto;
}
#slide-1 h2 {
    position: fixed;
    top: 70%;
}
#slide-2 .bcg {
	background-color: #003200;
}
#slide-2 .hsContent {
    margin-left: -450px;
    top: auto;
}
#slide-2 h2 {
	position: fixed;
	top: 70%;
}
#slide-3 .bcg {
	background-color: #057206;
}
#slide-3 .hsContent {
	margin-left: -239px;
}
#slide-3 h2 {
	color: #f2ead6;
	background-color: rgba(0,0,0,0.6);
}
